@model WebDichVu.Datas.PhanHoi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PhanHoi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DichVu.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
