@model DichVuThuYService.Datas.LichLamViec

@{
    ViewData["Title"] = "Chi tiết Lịch Làm Việc";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/details_lichlamviec.css" />
</head>
<div class="container">
    <h2>Chi tiết Lịch Làm Việc</h2>
    <form>
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="BacSiThuYid" class="control-label">@Html.DisplayNameFor(model => model.BacSiThuY)</label>
            <input type="text" id="BacSiThuYid" class="form-control" value="@Model.BacSiThuY.TenBacSi" readonly />
        </div>

        <div class="form-group">
            <label for="Ngay" class="control-label">@Html.DisplayNameFor(model => model.Ngay)</label>
            <input type="date" id="Ngay" class="form-control" value="@Model.Ngay.ToString("yyyy-MM-dd")" readonly />
        </div>

        <div class="form-group">
            <label for="GioBatDau" class="control-label">@Html.DisplayNameFor(model => model.GioBatDau)</label>
            <input type="time" id="GioBatDau" class="form-control" value="@Model.GioBatDau.ToString(@"hh\:mm")" readonly />
        </div>

        <div class="form-group">
            <label for="GioKetThuc" class="control-label">@Html.DisplayNameFor(model => model.GioKetThuc)</label>
            <input type="time" id="GioKetThuc" class="form-control" value="@Model.GioKetThuc.ToString(@"hh\:mm")" readonly />
        </div>

        <div class="form-group">
            <label for="TrangThai" class="control-label">@Html.DisplayNameFor(model => model.TrangThai)</label>
            <input type="text" id="TrangThai" class="form-control" value="@Model.TrangThai" readonly />
        </div>

        <div class="buttons">
            <a href="@Url.Action("Edit", "LichLamViec", new { area = "Admin", id = Model?.Id })" class="btn btn-primary">Sửa</a>
            <a href="@Url.Action("Index", "LichLamViec", new { area = "Admin" })" class="btn btn-secondary">Quay lại danh sách</a>
        </div>
    </form>
</div>